
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h1>Sakarya Bip Otomotiv</h1>
    <p>
       <a href="//cemyurtsever.dev/contactme">Buradan ulaşabilirsiniz...</a>
    </p>
    <hr />
    @Html.ActionLink("Ana Sayfa", "Index") |
    @Html.ActionLink("Hakkımızda", "About") |
    @Html.ActionLink("Araçlar", "Index", "Vehicle") |
    @Html.ActionLink("İletişim", "Contact")
    </div>
</body>
</html>
