
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Sakarya Bip Otomotiv</h1>
        <h3>Amacımız</h3>
        <p>
            Sakarya ili içerisindeki ikinci el araçların satış ve kiralanması ile ilgili işlemlerin online olarak yapılmasını sağlamaktır.
        </p>
        <hr />
        @Html.ActionLink("Ana Sayfa", "Index") |
        @Html.ActionLink("Hakkımızda", "About") |
        @Html.ActionLink("Araçlar", "Index", "Vehicle") |
        @Html.ActionLink("İletişim", "Contact")
    </div>
</body>
</html>
