
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    <h1>Sakarya BİP Otomativ</h1>
    <h4>Müşteri Giriş Sayfası</h4>
    <hr />
    @using (Html.BeginForm())
    {
        <table border="1" cellpadding="6" cellspacing="0" width="500">
            <tr>
                <td width="40%"> Tc Kimlik No</td>
                <td><input type="text" name="tc" size="11" /></td>
            </tr>
            <tr>
                <td>Şifre</td>
                <td><input type="text" name="sif" size="10" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Giriş" /></td>
            </tr>
        </table>
    }
    <p>
        @ViewData["sonuc"]
    </p>
    <p>
        @Html.ActionLink("Kayıt Ol", "Kayit") |
        @Html.ActionLink("Araçlar", "Index", "Vehicle")
    </p>
</body>
</html>
